workflows/unified-draw-notifier.workflow.json
{
  "name": "Unified Draw Notifier (EE + OINP + BC PNP)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1600,
        320
      ],
      "id": "trg-schedule",
      "name": "Every 15 min"
    },
    {
      "parameters": {
        "url": "https://script.google.com/macros/s/AKfycbw1PZkjKloQc2ghagiP0bVTuWI26VQMnNDuUUQhEupXMLNrHx3mZVbGTvTDtOcovdLKng/exec",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1360,
        80
      ],
      "id": "http-ee",
      "name": "Fetch Express Entry",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://script.google.com/macros/s/AKfycbxeZy2Je_c5Xjurda1eobhGnheu1lKrfyevnSvWCG7b7I2quDBbTYBqyphG-0ZXc-nS/exec?source=bcpnp",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1360,
        320
      ],
      "id": "http-bcpnp",
      "name": "Fetch BC PNP",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://script.google.com/macros/s/AKfycbxeZy2Je_c5Xjurda1eobhGnheu1lKrfyevnSvWCG7b7I2quDBbTYBqyphG-0ZXc-nS/exec?source=oinp",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1360,
        560
      ],
      "id": "http-oinp",
      "name": "Fetch OINP",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://www.alberta.ca/aaip-processing-information",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (DrawsBot)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1360,
        780
      ],
      "id": "http-alberta",
      "name": "Fetch Alberta",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Code node: \"Build EE Items\"\n// Normalises the latest Express Entry round into the shared item shape.\n// Dedup is handled downstream by the posted_draws data table.\nconst src = $input.all();\nconst round = src.length ? (src[0].json.rounds || [])[0] : null;\nif (!round) return [];\n\nconst currentDrawNumber = String(round.drawNumber);\n\nconst drawNameRaw = round.drawName || round.drawText || 'نامشخص';\nconst drawName = drawNameRaw.replace(/,?\\s*\\d{4}-version\\s*\\d+/i, '').trim();\nconst drawDate = round.drawDateFull || round.drawDate || 'نامشخص';\nconst drawSize = round.drawSize || round.drawSizeText || 'نامشخص';\nconst drawCRS  = round.drawCRS  || round.drawCutOff || round.drawCutoff || round.crs || 'نامشخص';\n\nconst categoryMap = [\n  { en: 'provincial nominee program',                    fa: 'برنامه نامزدی استانی' },\n  { en: 'canadian experience class',                     fa: 'کلاس سابقه کار کانادایی' },\n  { en: 'french-language proficiency',                   fa: 'تسلط به زبان فرانسوی' },\n  { en: 'french language proficiency',                   fa: 'تسلط به زبان فرانسوی' },\n  { en: 'healthcare and social services',                fa: 'مشاغل بهداشت و خدمات اجتماعی' },\n  { en: 'healthcare occupations',                        fa: 'مشاغل بهداشت و درمان' },\n  { en: 'science, technology, engineering and math',     fa: 'مشاغل علوم، فناوری، مهندسی و ریاضی (STEM)' },\n  { en: 'stem occupations',                              fa: 'مشاغل STEM' },\n  { en: 'trade occupations',                             fa: 'مشاغل فنی و حرفه‌ای' },\n  { en: 'trades occupations',                            fa: 'مشاغل فنی و حرفه‌ای' },\n  { en: 'education occupations',                         fa: 'مشاغل آموزشی' },\n  { en: 'transport occupations',                         fa: 'مشاغل حمل و نقل' },\n  { en: 'agriculture and agri-food',                     fa: 'مشاغل کشاورزی و صنایع غذایی' },\n  { en: 'physicians with canadian work experience',      fa: 'پزشکان با سابقه کار کانادایی' },\n  { en: 'senior managers with canadian work experience', fa: 'مدیران ارشد با سابقه کار کانادایی' },\n  { en: 'researchers with canadian work experience',     fa: 'پژوهشگران با سابقه کار کانادایی' },\n  { en: 'skilled military recruits',                     fa: 'سربازان متخصص استخدام شده' },\n  { en: 'federal skilled worker',                        fa: 'برنامه فدرال نیروی کار متخصص' },\n  { en: 'federal skilled trades',                        fa: 'برنامه فدرال مشاغل فنی' },\n  { en: 'general',                                       fa: 'دراو عمومی' },\n  { en: 'no program specified',                          fa: 'بدون برنامه مشخص' }\n];\nfunction getPersianCategory(englishName) {\n  if (!englishName) return 'دسته‌بندی نامشخص';\n  const lower = String(englishName).toLowerCase();\n  for (const entry of categoryMap) {\n    if (lower.includes(entry.en)) return entry.fa;\n  }\n  return englishName;\n}\nconst drawNameFa = getPersianCategory(drawName);\n\nconst link = 'https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/rounds-invitations.html';\nconst site = 'www.sugimotovisa.com';\n\nconst telegramText = `📢 <b>نتیجه جدیدترین دراو اکسپرس انتری</b>\n<b>اقامت دائم کانادا (PR)</b> 🇨🇦\n\n🗓 <b>تاریخ برگزاری:</b> <code>${drawDate}</code>\n🎯 <b>دسته‌بندی انتخاب:</b> <b>${drawNameFa}</b>\n\n📊 <b>آمار این دوره:</b>\n🔹 تعداد دعوت‌نامه صادر شده: <b>${drawSize}</b> نفر\n🔹 حداقل امتیاز قبولی (CRS): <b>${drawCRS}</b> امتیاز\n\n🔗 <a href=\"${link}\">مشاهده جزئیات در سایت رسمی اداره مهاجرت</a>\n\n🌐 ${site}`;\n\nconst xPostText = `📢 دراو جدید اکسپرس انتری 🇨🇦\n🗓 ${drawDate}\n🎯 ${drawNameFa}\n🔹 دعوت‌نامه: ${drawSize} نفر\n🔹 حداقل CRS: ${drawCRS}\n${link}`;\n\nconst linkedinText = `📢 نتیجه جدیدترین دراو اکسپرس انتری — اقامت دائم کانادا (PR) 🇨🇦\n\n🗓 تاریخ برگزاری: ${drawDate}\n🎯 دسته‌بندی انتخاب: ${drawNameFa}\n🔹 تعداد دعوت‌نامه صادر شده: ${drawSize} نفر\n🔹 حداقل امتیاز قبولی (CRS): ${drawCRS}\n\n🔗 جزئیات در سایت رسمی اداره مهاجرت:\n${link}\n\n🌐 ${site}\n#ExpressEntry #مهاجرت_کانادا #اقامت_کانادا #سوگیموتو_ویزا`;\n\nconst igCaption = `نتیجه جدیدترین دراو اکسپرس انتری 🇨🇦\\n\\nتاریخ برگزاری: ${drawDate}\\nدسته‌بندی انتخاب: ${drawNameFa}\\nتعداد دعوت‌نامه: ${drawSize} نفر\\nحداقل امتیاز CRS: ${drawCRS}\\n\\nبرای مشاوره: ${site}\\n\\n#اکسپرس_انتری #مهاجرت_کانادا #اقامت_کانادا #سوگیموتو_ویزا #PR #ExpressEntry`;\n\nreturn [{\n  json: {\n    program: 'express-entry',\n    dedup_key: currentDrawNumber,\n    final_post_text: telegramText,\n    x_post_text: xPostText,\n    linkedin_text: linkedinText,\n    ig_caption: igCaption,\n    skipInstagram: false,\n    // shared story-card fields\n    headingLine1: 'آخرین Draw',\n    headingLine2: 'اکسپرس انتری',\n    headingLine3: 'اقامت دائم کانادا PR',\n    statLeftValue: String(drawSize),\n    statLeftLabel: 'تعداد دعوتنامه',\n    statRightValue: String(drawCRS),\n    statRightLabel: 'نمره آخرین نفر قبولی',\n    categoryFa: drawNameFa,\n    categoryEn: drawName,\n    dateText: String(drawDate),\n    // data-table meta\n    dt_name: drawName,\n    dt_crs: String(drawCRS),\n    dt_size: String(drawSize)\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        80
      ],
      "id": "code-ee",
      "name": "Build EE Items"
    },
    {
      "parameters": {
        "jsCode": "// Code node: \"Build BC PNP Items\"\n// Emits 0-2 normalised items (Skills and/or Entrepreneur) from the GAS router.\n// No staticData dedup — the posted_draws data table handles it downstream.\nfunction esc(s) {\n  return String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\nfunction htmlToPlain(h) {\n  return String(h)\n    .replace(/<a[^>]*href=\"([^\"]*)\"[^>]*>([\\s\\S]*?)<\\/a>/g, '$2: $1')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n}\nfunction lowScore(streams) {\n  let m = null;\n  (streams || []).forEach(function (s) {\n    const n = parseInt(String(s.minScore).replace(/[^0-9]/g, ''), 10);\n    if (!isNaN(n) && (m === null || n < m)) m = n;\n  });\n  return m === null ? '—' : String(m);\n}\nfunction sumItas(streams) {\n  let t = 0;\n  (streams || []).forEach(function (s) {\n    const n = parseInt(String(s.itas).replace(/[^0-9]/g, ''), 10);\n    if (!isNaN(n)) t += n;\n  });\n  return t;\n}\n\nconst src = $input.all();\nconst data = src.length ? src[0].json : null;\nif (!data || data.error) return [];\n\nconst link = data.sourceUrl;\nconst site = 'www.sugimotovisa.com';\nconst outputs = [];\n\n// ===== BC PNP — Skills Immigration =====\nconst skills = data.skillsImmigration;\nif (skills && skills.latestDate) {\n  let streamsBlock = '';\n  (skills.streams || []).forEach(function (s) {\n    const score = s.minScore === 'N/A' ? '—' : esc(s.minScore);\n    streamsBlock += '\\n🔹 <b>' + esc(s.name) + '</b>\\n   • حداقل امتیاز: <b>' + score + '</b>\\n   • تعداد دعوت‌نامه: <b>' + esc(s.itas) + '</b> نفر\\n';\n  });\n  const telegram = '📢 <b>نتیجه جدیدترین دراو بی‌سی پی‌ان‌پی</b>\\n<b>برنامه نیروی متخصص بریتیش کلمبیا (BC PNP - Skills)</b> 🇨🇦\\n\\n🗓 <b>تاریخ برگزاری:</b> <code>' + esc(skills.latestDate) + '</code>\\n\\n📊 <b>خلاصه این دوره:</b>\\n🔸 مجموع دعوت‌نامه‌ها: <b>' + esc(skills.totalItas) + '</b> نفر\\n' + streamsBlock + '\\n🔗 <a href=\"' + link + '\">مشاهده جزئیات در سایت رسمی WelcomeBC</a>\\n\\n🌐 ' + site;\n  const low = lowScore(skills.streams);\n  const total = String(skills.totalItas || '—');\n  outputs.push({\n    json: {\n      program: 'bcpnp-skills',\n      dedup_key: 'bcpnp-skills::' + skills.latestDate,\n      final_post_text: telegram,\n      x_post_text: '📢 دراو جدید BC PNP (Skills) 🇨🇦\\n🗓 ' + skills.latestDate + '\\n🔸 مجموع دعوت‌نامه: ' + total + '\\n🔹 حداقل امتیاز: ' + low + '\\n' + link,\n      linkedin_text: htmlToPlain(telegram) + '\\n#BCPNP #مهاجرت_کانادا #بریتیش_کلمبیا #سوگیموتو_ویزا',\n      ig_caption: 'نتیجه جدیدترین دراو BC PNP (Skills) 🇨🇦\\n\\nتاریخ برگزاری: ' + skills.latestDate + '\\nمجموع دعوت‌نامه: ' + total + ' نفر\\nحداقل امتیاز: ' + low + '\\n\\nبرای مشاوره: ' + site + '\\n\\n#BCPNP #بریتیش_کلمبیا #مهاجرت_کانادا #سوگیموتو_ویزا',\n      skipInstagram: false,\n      headingLine1: 'آخرین Draw',\n      headingLine2: 'بریتیش کلمبیا',\n      headingLine3: 'BC PNP - Skills',\n      statLeftValue: total,\n      statLeftLabel: 'مجموع دعوتنامه',\n      statRightValue: low,\n      statRightLabel: 'حداقل امتیاز',\n      categoryFa: 'برنامه نیروی متخصص',\n      categoryEn: 'Skills Immigration',\n      dateText: String(skills.latestDate),\n      dt_name: 'BC PNP Skills',\n      dt_crs: low,\n      dt_size: total\n    }\n  });\n}\n\n// ===== BC PNP — Entrepreneur Immigration =====\nconst ent = data.entrepreneurImmigration;\nif (ent && ent.latestDate) {\n  let streamsBlock = '';\n  (ent.streams || []).forEach(function (s) {\n    streamsBlock += '\\n🔹 <b>' + esc(s.name) + '</b>\\n   • حداقل امتیاز: <b>' + esc(s.minScore) + '</b>\\n   • تعداد دعوت‌نامه: <b>' + esc(s.itas) + '</b> نفر\\n';\n  });\n  const telegram = '📢 <b>نتیجه جدیدترین دراو کارآفرینی بی‌سی</b>\\n<b>برنامه کارآفرینی بریتیش کلمبیا (BC PNP - Entrepreneur)</b> 🇨🇦\\n\\n🗓 <b>تاریخ برگزاری:</b> <code>' + esc(ent.latestDate) + '</code>\\n' + streamsBlock + '\\n🔗 <a href=\"' + link + '\">مشاهده جزئیات در سایت رسمی WelcomeBC</a>\\n\\n🌐 ' + site;\n  const low = lowScore(ent.streams);\n  const total = sumItas(ent.streams);\n  const totalStr = total > 0 ? String(total) : '—';\n  outputs.push({\n    json: {\n      program: 'bcpnp-entrepreneur',\n      dedup_key: 'bcpnp-entrepreneur::' + ent.latestDate,\n      final_post_text: telegram,\n      x_post_text: '📢 دراو جدید کارآفرینی BC PNP 🇨🇦\\n🗓 ' + ent.latestDate + '\\n🔸 مجموع دعوت‌نامه: ' + totalStr + '\\n🔹 حداقل امتیاز: ' + low + '\\n' + link,\n      linkedin_text: htmlToPlain(telegram) + '\\n#BCPNP #Entrepreneur #مهاجرت_کانادا #سوگیموتو_ویزا',\n      ig_caption: 'نتیجه جدیدترین دراو کارآفرینی BC PNP 🇨🇦\\n\\nتاریخ برگزاری: ' + ent.latestDate + '\\nمجموع دعوت‌نامه: ' + totalStr + ' نفر\\nحداقل امتیاز: ' + low + '\\n\\nبرای مشاوره: ' + site + '\\n\\n#BCPNP #Entrepreneur #بریتیش_کلمبیا #سوگیموتو_ویزا',\n      skipInstagram: false,\n      headingLine1: 'آخرین Draw',\n      headingLine2: 'بریتیش کلمبیا',\n      headingLine3: 'BC PNP - Entrepreneur',\n      statLeftValue: totalStr,\n      statLeftLabel: 'مجموع دعوتنامه',\n      statRightValue: low,\n      statRightLabel: 'حداقل امتیاز',\n      categoryFa: 'برنامه کارآفرینی',\n      categoryEn: 'Entrepreneur Immigration',\n      dateText: String(ent.latestDate),\n      dt_name: 'BC PNP Entrepreneur',\n      dt_crs: low,\n      dt_size: totalStr\n    }\n  });\n}\n\nreturn outputs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        320
      ],
      "id": "code-bcpnp",
      "name": "Build BC PNP Items"
    },
    {
      "parameters": {
        "jsCode": "// Code node: \"Build OINP Items\"\n// Emits 0-2 normalised items (draw summary and/or program update) from the GAS router.\nfunction esc(s) {\n  return String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\nfunction htmlToPlain(h) {\n  return String(h)\n    .replace(/<a[^>]*href=\"([^\"]*)\"[^>]*>([\\s\\S]*?)<\\/a>/g, '$2: $1')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n}\n\nconst src = $input.all();\nconst data = src.length ? src[0].json : null;\nif (!data || data.error || !data.latestDate || !data.items || data.items.length === 0) return [];\n\nconst link = data.sourceUrl;\nconst site = 'www.sugimotovisa.com';\nconst outputs = [];\nconst draws = data.items.filter(function (i) { return i.type === 'draw'; });\nconst updates = data.items.filter(function (i) { return i.type === 'update'; });\n\n// ===== OINP — Draw summary =====\nif (draws.length > 0) {\n  let drawsBlock = '';\n  let totalItas = 0;\n  draws.forEach(function (d) {\n    const itaLine = d.itas ? '   • تعداد دعوت‌نامه: <b>' + esc(d.itas) + '</b> نفر\\n' : '';\n    drawsBlock += '\\n🔹 <b>' + esc(d.title) + '</b>\\n' + itaLine;\n    if (d.itas) { const n = parseInt(d.itas, 10); if (!isNaN(n)) totalItas += n; }\n  });\n  const totalLine = totalItas > 0 ? '🔸 مجموع دعوت‌نامه‌ها: <b>' + totalItas + '</b> نفر\\n' : '';\n  const telegram = '📢 <b>نتیجه جدیدترین دراو انتاریو (OINP)</b>\\n<b>برنامه مهاجرت استانی انتاریو</b> 🇨🇦\\n\\n🗓 <b>تاریخ برگزاری:</b> <code>' + esc(data.latestDate) + '</code>\\n\\n📊 <b>خلاصه این دوره:</b>\\n' + totalLine + drawsBlock + '\\n🔗 <a href=\"' + link + '\">مشاهده جزئیات در سایت رسمی انتاریو</a>\\n\\n🌐 ' + site;\n  const totalStr = totalItas > 0 ? String(totalItas) : '—';\n  const firstTitle = String(draws[0].title || 'OINP').substring(0, 40);\n  outputs.push({\n    json: {\n      program: 'oinp-draw',\n      dedup_key: 'oinp-draw::' + data.latestDate + '::' + firstTitle,\n      final_post_text: telegram,\n      x_post_text: '📢 دراو جدید انتاریو (OINP) 🇨🇦\\n🗓 ' + data.latestDate + '\\n🔸 مجموع دعوت‌نامه: ' + totalStr + '\\n' + link,\n      linkedin_text: htmlToPlain(telegram) + '\\n#OINP #Ontario #مهاجرت_کانادا #سوگیموتو_ویزا',\n      ig_caption: 'نتیجه جدیدترین دراو انتاریو (OINP) 🇨🇦\\n\\nتاریخ برگزاری: ' + data.latestDate + '\\nمجموع دعوت‌نامه: ' + totalStr + ' نفر\\n\\nبرای مشاوره: ' + site + '\\n\\n#OINP #انتاریو #مهاجرت_کانادا #سوگیموتو_ویزا',\n      skipInstagram: false,\n      headingLine1: 'آخرین Draw',\n      headingLine2: 'انتاریو OINP',\n      headingLine3: 'مهاجرت استانی',\n      statLeftValue: totalStr,\n      statLeftLabel: 'تعداد دعوتنامه',\n      statRightValue: '—',\n      statRightLabel: 'حداقل امتیاز',\n      categoryFa: 'مهاجرت استانی انتاریو',\n      categoryEn: firstTitle,\n      dateText: String(data.latestDate),\n      dt_name: 'OINP Draw',\n      dt_crs: '',\n      dt_size: totalStr\n    }\n  });\n}\n\n// ===== OINP — Program update / announcement (no story image) =====\nif (updates.length > 0) {\n  let updatesBlock = '';\n  updates.forEach(function (u) {\n    const summaryRaw = (u.summary && u.summary.length > 300) ? u.summary.substring(0, 300) + '...' : (u.summary || '');\n    updatesBlock += '\\n🔸 <b>' + esc(u.title) + '</b>\\n' + esc(summaryRaw) + '\\n';\n  });\n  const telegram = '📣 <b>اطلاعیه مهم برنامه OINP انتاریو</b>\\n<b>تغییرات و به‌روزرسانی‌های جدید</b> 🇨🇦\\n\\n🗓 <b>تاریخ اطلاعیه:</b> <code>' + esc(data.latestDate) + '</code>\\n' + updatesBlock + '\\n⚠️ <i>این اطلاعیه شامل تغییرات مهم برنامه است، لطفاً برای جزئیات کامل به سایت رسمی مراجعه کنید.</i>\\n\\n🔗 <a href=\"' + link + '\">مطالعه متن کامل در سایت رسمی انتاریو</a>\\n\\n🌐 ' + site;\n  const firstTitle = String(updates[0].title || 'OINP Update').substring(0, 40);\n  outputs.push({\n    json: {\n      program: 'oinp-update',\n      dedup_key: 'oinp-update::' + data.latestDate + '::' + firstTitle,\n      final_post_text: telegram,\n      x_post_text: '📣 اطلاعیه جدید برنامه OINP انتاریو 🇨🇦\\n🗓 ' + data.latestDate + '\\n' + firstTitle + '\\n' + link,\n      linkedin_text: htmlToPlain(telegram) + '\\n#OINP #Ontario #مهاجرت_کانادا #سوگیموتو_ویزا',\n      ig_caption: '',\n      skipInstagram: true,\n      headingLine1: '',\n      headingLine2: '',\n      headingLine3: '',\n      statLeftValue: '',\n      statLeftLabel: '',\n      statRightValue: '',\n      statRightLabel: '',\n      categoryFa: '',\n      categoryEn: '',\n      dateText: String(data.latestDate),\n      dt_name: 'OINP Update',\n      dt_crs: '',\n      dt_size: ''\n    }\n  });\n}\n\nreturn outputs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        560
      ],
      "id": "code-oinp",
      "name": "Build OINP Items"
    },
    {
      "parameters": {
        "jsCode": "// Code node: \"Build Alberta Items\"\n// Parses the Alberta AAIP \"Draw information\" HTML table (fetched directly from\n// alberta.ca as text) and emits the newest draws as normalised items. Dedup is\n// handled by the posted_draws data table, so we emit the top few candidates and\n// let the table decide which are actually new.\nfunction esc(s) { return String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;'); }\nfunction stripTags(h) {\n  return String(h)\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')\n    .replace(/&#8211;|&ndash;/g, '–').replace(/&#39;|&rsquo;/g, \"'\")\n    .replace(/\\s+/g, ' ').trim();\n}\nfunction toISO(s) {\n  const t = Date.parse(s);\n  if (isNaN(t)) return '';\n  const d = new Date(t);\n  const m = ('0' + (d.getMonth() + 1)).slice(-2);\n  const day = ('0' + d.getDate()).slice(-2);\n  return d.getFullYear() + '-' + m + '-' + day;\n}\n\nconst src = $input.all();\nconst first = src.length ? src[0].json : null;\n// httpRequest (responseFormat: text) puts the body in `data`; fall back to body/string.\nconst html = first ? (first.data || first.body || (typeof first === 'string' ? first : '')) : '';\nif (!html) return [];\n\n// Isolate rows whose first cell is a date — that uniquely identifies the draw table.\nconst dateRe = /^[A-Z][a-z]+ \\d{1,2},\\s*20\\d{2}$/;\nconst draws = [];\nconst trRe = /<tr[^>]*>([\\s\\S]*?)<\\/tr>/gi;\nlet tr;\nwhile ((tr = trRe.exec(html)) !== null) {\n  const cells = [];\n  const tdRe = /<td[^>]*>([\\s\\S]*?)<\\/td>/gi;\n  let td;\n  while ((td = tdRe.exec(tr[1])) !== null) cells.push(stripTags(td[1]));\n  if (cells.length !== 4) continue;\n  const date = cells[0];\n  if (!dateRe.test(date)) continue;\n  draws.push({ date: date, dateISO: toISO(date), stream: cells[1], score: cells[2], invitations: cells[3] });\n}\nif (!draws.length) return [];\n\nconst link = 'https://www.alberta.ca/aaip-processing-information';\nconst site = 'www.sugimotovisa.com';\nconst CANDIDATES = 3; // newest N; dedup keeps only the genuinely new ones\n\nreturn draws.slice(0, CANDIDATES).map(function (d) {\n  const streamShort = String(d.stream).substring(0, 50);\n  const invCard = String(d.invitations).replace(/less than 10/i, '<10');\n  const telegram = '📢 <b>نتیجه جدیدترین دراو آلبرتا (AAIP)</b>\\n<b>برنامه مهاجرت استانی آلبرتا</b> 🇨🇦\\n\\n🗓 <b>تاریخ برگزاری:</b> <code>' + esc(d.date) + '</code>\\n🎯 <b>دسته‌بندی:</b> <b>' + esc(d.stream) + '</b>\\n\\n📊 <b>آمار این دوره:</b>\\n🔹 تعداد دعوت‌نامه: <b>' + esc(d.invitations) + '</b>\\n🔹 حداقل امتیاز: <b>' + esc(d.score) + '</b>\\n\\n🔗 <a href=\"' + link + '\">مشاهده جزئیات در سایت رسمی آلبرتا</a>\\n\\n🌐 ' + site;\n  return {\n    json: {\n      program: 'alberta-aaip',\n      dedup_key: 'alberta::' + (d.dateISO || d.date) + '::' + streamShort,\n      final_post_text: telegram,\n      x_post_text: '📢 دراو جدید آلبرتا (AAIP) 🇨🇦\\n🗓 ' + d.date + '\\n🎯 ' + d.stream + '\\n🔹 دعوت‌نامه: ' + d.invitations + '\\n🔹 حداقل امتیاز: ' + d.score + '\\n' + link,\n      linkedin_text: 'نتیجه جدیدترین دراو آلبرتا (AAIP) — برنامه مهاجرت استانی آلبرتا 🇨🇦\\n\\n🗓 تاریخ: ' + d.date + '\\n🎯 دسته‌بندی: ' + d.stream + '\\n🔹 تعداد دعوت‌نامه: ' + d.invitations + '\\n🔹 حداقل امتیاز: ' + d.score + '\\n\\n🔗 ' + link + '\\n🌐 ' + site + '\\n#AAIP #Alberta #مهاجرت_کانادا #سوگیموتو_ویزا',\n      ig_caption: 'نتیجه جدیدترین دراو آلبرتا (AAIP) 🇨🇦\\n\\nتاریخ: ' + d.date + '\\nدسته‌بندی: ' + d.stream + '\\nتعداد دعوت‌نامه: ' + d.invitations + '\\nحداقل امتیاز: ' + d.score + '\\n\\nبرای مشاوره: ' + site + '\\n\\n#AAIP #آلبرتا #مهاجرت_کانادا #سوگیموتو_ویزا',\n      skipInstagram: false,\n      headingLine1: 'آخرین Draw',\n      headingLine2: 'آلبرتا AAIP',\n      headingLine3: 'مهاجرت استانی',\n      statLeftValue: invCard,\n      statLeftLabel: 'تعداد دعوتنامه',\n      statRightValue: String(d.score),\n      statRightLabel: 'حداقل امتیاز',\n      categoryFa: 'برنامه مهاجرت آلبرتا',\n      categoryEn: String(d.stream).substring(0, 42),\n      dateText: String(d.date),\n      dt_name: 'Alberta AAIP',\n      dt_crs: String(d.score),\n      dt_size: String(d.invitations)\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        780
      ],
      "id": "code-alberta",
      "name": "Build Alberta Items"
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -880,
        320
      ],
      "id": "merge-all",
      "name": "Merge All Programs"
    },
    {
      "parameters": {
        "jsCode": "// Code node: \"Build Story Card\"\n// Runs per merged item. Generates the Instagram-story SVG from the shared\n// normalised fields, then passes every field through unchanged so downstream\n// nodes have a single node to reference. Logo is embedded once here.\n// Paste your logo's base64 PNG here (the same value used in the Express Entry\n// flow's \"Build Message\" node, constant LOGO_B64). If left as the placeholder,\n// the card falls back to a text wordmark so it still renders.\nconst LOGO_B64 = '__PASTE_LOGO_B64_HERE__';\nconst HAS_LOGO = LOGO_B64.indexOf('PASTE_LOGO_B64') === -1;\n\nfunction fitSize(val) {\n  const len = String(val == null ? '' : val).length;\n  if (len <= 3) return 220;\n  if (len === 4) return 180;\n  if (len === 5) return 150;\n  return 130;\n}\n\nfunction buildSvg(j) {\n  const rightFont = fitSize(j.statRightValue);\n  const leftFont = fitSize(j.statLeftValue);\n  const esc = (s) => String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  return `<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"1080\" height=\"1920\" viewBox=\"0 0 1080 1920\">\n  <defs>\n    <style>\n      @import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700;800;900&amp;family=Inter:wght@700;800;900&amp;display=swap');\n      .farsi { font-family: 'Vazirmatn', 'Tahoma', sans-serif; direction: rtl; }\n      .english { font-family: 'Inter', 'Arial', sans-serif; }\n    </style>\n    <filter id=\"cardShadow\" x=\"-10%\" y=\"-5%\" width=\"120%\" height=\"115%\">\n      <feDropShadow dx=\"0\" dy=\"20\" stdDeviation=\"40\" flood-color=\"#000000\" flood-opacity=\"0.08\"/>\n    </filter>\n  </defs>\n  <rect width=\"1080\" height=\"1920\" fill=\"#FFFFFF\"/>\n  <rect x=\"40\" y=\"40\" width=\"1000\" height=\"1840\" rx=\"50\" ry=\"50\" fill=\"#FFFFFF\" filter=\"url(#cardShadow)\" stroke=\"#F3F4F6\" stroke-width=\"1\"/>\n  <g opacity=\"0.45\">\n    <rect x=\"120\" y=\"1150\" width=\"110\" height=\"100\" fill=\"#FCA5A5\"/>\n    <rect x=\"260\" y=\"1080\" width=\"110\" height=\"170\" fill=\"#FED7AA\"/>\n    <rect x=\"400\" y=\"980\"  width=\"110\" height=\"270\" fill=\"#FEF3C7\"/>\n    <rect x=\"540\" y=\"880\"  width=\"110\" height=\"370\" fill=\"#BAE6FD\"/>\n    <rect x=\"680\" y=\"780\"  width=\"110\" height=\"470\" fill=\"#C7D2FE\"/>\n    <rect x=\"820\" y=\"680\"  width=\"110\" height=\"570\" fill=\"#E9D5FF\"/>\n  </g>\n  <g opacity=\"0.55\">\n    <circle cx=\"175\" cy=\"1090\" r=\"32\" fill=\"#F87171\"/>\n    <path d=\"M 130 1150 Q 130 1100 175 1100 Q 220 1100 220 1150 Z\" fill=\"#F87171\"/>\n    <circle cx=\"315\" cy=\"1020\" r=\"32\" fill=\"#FB923C\"/>\n    <path d=\"M 270 1080 Q 270 1030 315 1030 Q 360 1030 360 1080 Z\" fill=\"#FB923C\"/>\n    <circle cx=\"455\" cy=\"920\" r=\"32\" fill=\"#FBBF24\"/>\n    <path d=\"M 410 980 Q 410 930 455 930 Q 500 930 500 980 Z\" fill=\"#FBBF24\"/>\n    <circle cx=\"595\" cy=\"820\" r=\"32\" fill=\"#38BDF8\"/>\n    <path d=\"M 550 880 Q 550 830 595 830 Q 640 830 640 880 Z\" fill=\"#38BDF8\"/>\n    <circle cx=\"735\" cy=\"720\" r=\"32\" fill=\"#818CF8\"/>\n    <path d=\"M 690 780 Q 690 730 735 730 Q 780 730 780 780 Z\" fill=\"#818CF8\"/>\n    <circle cx=\"875\" cy=\"620\" r=\"32\" fill=\"#C084FC\"/>\n    <path d=\"M 830 680 Q 830 630 875 630 Q 920 630 920 680 L 905 680 Q 900 695 875 695 Q 850 695 845 680 Z\" fill=\"#C084FC\"/>\n  </g>\n  <text x=\"540\" y=\"300\" text-anchor=\"middle\" class=\"farsi\" font-size=\"80\" font-weight=\"900\" fill=\"#2C3E50\">${esc(j.headingLine1)}</text>\n  <text x=\"540\" y=\"395\" text-anchor=\"middle\" class=\"farsi\" font-size=\"80\" font-weight=\"900\" fill=\"#2C3E50\">${esc(j.headingLine2)}</text>\n  <text x=\"540\" y=\"490\" text-anchor=\"middle\" class=\"farsi\" font-size=\"80\" font-weight=\"900\" fill=\"#2C3E50\">${esc(j.headingLine3)}</text>\n  <line x1=\"220\" y1=\"555\" x2=\"860\" y2=\"555\" stroke=\"#E5E7EB\" stroke-width=\"3\"/>\n  <text x=\"780\" y=\"800\" text-anchor=\"middle\" class=\"english\" font-size=\"${rightFont}\" font-weight=\"900\" fill=\"#2C3E50\" letter-spacing=\"-8\">${esc(j.statRightValue)}</text>\n  <text x=\"780\" y=\"880\" text-anchor=\"middle\" class=\"farsi\" font-size=\"38\" font-weight=\"700\" fill=\"#545454\">${esc(j.statRightLabel)}</text>\n  <line x1=\"540\" y1=\"660\" x2=\"540\" y2=\"890\" stroke=\"#E5E7EB\" stroke-width=\"3\"/>\n  <text x=\"300\" y=\"800\" text-anchor=\"middle\" class=\"english\" font-size=\"${leftFont}\" font-weight=\"900\" fill=\"#2C3E50\" letter-spacing=\"-8\">${esc(j.statLeftValue)}</text>\n  <text x=\"300\" y=\"880\" text-anchor=\"middle\" class=\"farsi\" font-size=\"38\" font-weight=\"700\" fill=\"#545454\">${esc(j.statLeftLabel)}</text>\n  <text x=\"540\" y=\"1380\" text-anchor=\"middle\" class=\"farsi\" font-size=\"46\" font-weight=\"700\" fill=\"#2C3E50\">${esc(j.categoryFa)}</text>\n  <text x=\"540\" y=\"1450\" text-anchor=\"middle\" class=\"english\" font-size=\"46\" font-weight=\"700\" fill=\"#2C3E50\">${esc(j.categoryEn)}</text>\n  <text x=\"540\" y=\"1560\" text-anchor=\"middle\" class=\"english\" font-size=\"42\" font-weight=\"700\" fill=\"#2C3E50\">${esc(j.dateText)}</text>\n  ${HAS_LOGO\n    ? `<image x=\"290\" y=\"1730\" width=\"500\" height=\"85\" xlink:href=\"data:image/png;base64,${LOGO_B64}\" preserveAspectRatio=\"xMidYMid meet\"/>`\n    : `<text x=\"540\" y=\"1790\" text-anchor=\"middle\" class=\"english\" font-size=\"46\" font-weight=\"900\" fill=\"#2C3E50\">SUGIMOTO VISA</text>`}\n</svg>`;\n}\n\nreturn $input.all().map(function (it) {\n  const j = it.json;\n  return { json: Object.assign({}, j, { svg: j.skipInstagram ? '' : buildSvg(j) }) };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        320
      ],
      "id": "code-story",
      "name": "Build Story Card"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "CkCfML6nrTQJN7Aw",
          "mode": "list",
          "cachedResultName": "posted_draws",
          "cachedResultUrl": "/projects/L4LTA9nUncOoPxVP/datatables/CkCfML6nrTQJN7Aw"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "draw_number",
              "keyValue": "={{ $json.dedup_key }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -400,
        320
      ],
      "id": "dt-check",
      "name": "Check if posted",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-empty",
              "leftValue": "={{ $json.draw_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        320
      ],
      "id": "if-new",
      "name": "Is New?"
    },
    {
      "parameters": {
        "chatId": "-1001345603472",
        "text": "={{ $('Build Story Card').item.json.final_post_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        140,
        40
      ],
      "id": "tg-post",
      "name": "Post to Telegram Channel",
      "webhookId": "unified-post-channel",
      "credentials": {
        "telegramApi": {
          "id": "tBkaYSTkkyWvaNl9",
          "name": "Telegram Notifier bot"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $('Build Story Card').item.json.x_post_text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        140,
        200
      ],
      "id": "x-post",
      "name": "Post to X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "ULB2NMsT0Nkec4Ra",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "communityManagement",
        "postAs": "organization",
        "organization": "90406990",
        "text": "={{ $('Build Story Card').item.json.linkedin_text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        140,
        360
      ],
      "id": "li-post",
      "name": "Post to LinkedIn",
      "credentials": {
        "linkedInCommunityManagementOAuth2Api": {
          "id": "wlBq9tA2F8OMqx8H",
          "name": "Sugimoto Master App"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "CkCfML6nrTQJN7Aw",
          "mode": "list",
          "cachedResultName": "posted_draws",
          "cachedResultUrl": "/projects/L4LTA9nUncOoPxVP/datatables/CkCfML6nrTQJN7Aw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "draw_number": "={{ $('Build Story Card').item.json.dedup_key }}",
            "posted_at": "={{ $now.toISO() }}",
            "draw_name": "={{ $('Build Story Card').item.json.dt_name }}",
            "draw_crs": "={{ $('Build Story Card').item.json.dt_crs }}",
            "draw_size": "={{ $('Build Story Card').item.json.dt_size }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "draw_number",
              "displayName": "draw_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "draw_name",
              "displayName": "draw_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "draw_crs",
              "displayName": "draw_crs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "draw_size",
              "displayName": "draw_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        420,
        40
      ],
      "id": "dt-insert",
      "name": "Mark as posted"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "7 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1600,
        900
      ],
      "id": "trg-schedule-wp",
      "name": "Hourly (WordPress)"
    },
    {
      "parameters": {
        "jsCode": "// Code node: \"Update WordPress Page\" (runOnceForAllItems)\n// Ported from the Canada Draws spec (Layer 2). Fetches the unified endpoint\n// (Express Entry + 9 provinces), fingerprints the DATA ONLY, and rewrites the\n// WordPress page only when the draw data actually changed.\n//\n// >>> FILL THESE THREE IN (one time) <<<\nconst APPS_SCRIPT_URL = '__PASTE_UNIFIED_ENDPOINT_EXEC_URL__';               // unified Apps Script /exec URL (rounds + pnpDraws)\nconst WP_BASE  = '__PASTE_WP_PAGE_REST_URL__';                              // e.g. https://your-site/wp-json/wp/v2/pages/123\nconst WP_AUTH  = '__PASTE_WP_BASIC_AUTH__';                                 // 'Basic ' + base64('user:application-password')\nconst EE_LIMIT = 15;\n\nif (APPS_SCRIPT_URL.indexOf('PASTE_') !== -1 || WP_BASE.indexOf('PASTE_') !== -1 || WP_AUTH.indexOf('PASTE_') !== -1) {\n  return [{ json: { updated: false, reason: 'not configured — fill APPS_SCRIPT_URL / WP_BASE / WP_AUTH in this node' } }];\n}\n\n// Persian (Farsi) digit conversion — presentation requirement\nconst faDigits = '۰۱۲۳۴۵۶۷۸۹';\nconst faN = (s) => String(s == null ? '' : s).replace(/[0-9]/g, (d) => faDigits[+d]);\n\n// djb2 hash, base36 — any stable hash is fine\nfunction hash(str) { let h = 5381; for (let i = 0; i < str.length; i++) { h = ((h << 5) + h) ^ str.charCodeAt(i); } return (h >>> 0).toString(36); }\nfunction esc(s) { return String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;'); }\n\n// Province code -> [Farsi display name, accent colour]\nconst PROV_META = {\n  ON: ['انتاریو (OINP)', '#0f766e'], BC: ['بریتیش کلمبیا (BC PNP)', '#1d4ed8'],\n  AB: ['آلبرتا (AAIP)', '#c2410c'], SK: ['ساسکاچوان (SINP)', '#15803d'],\n  MB: ['مانیتوبا (MPNP)', '#6d28d9'], NS: ['نوا اسکوشیا (NSNP)', '#0e7490'],\n  NB: ['نیوبرانزویک (NBPNP)', '#b91c1c'], PE: ['جزیره پرنس ادوارد (PEI)', '#be185d'],\n  NL: ['نیوفاندلند (NLPNP)', '#4338ca']\n};\n\n// ---- 1. fetch normalized data (use n8n helper, not global fetch) ----\nconst gs = await this.helpers.httpRequest({ method: 'GET', url: APPS_SCRIPT_URL, json: true });\nconst rounds = (gs.rounds || []).slice(0, EE_LIMIT);\nconst pnp = gs.pnpDraws || {};\n\n// ---- 2. fingerprint DATA ONLY (timestamps excluded) ----\nconst sig = [];\nsig.push('EE:' + rounds.map((r) => [r.drawNumber, r.drawDateFull, r.drawName, r.drawSize, r.drawCRS].join('~')).join('|'));\nfor (const c of Object.keys(PROV_META)) {\n  const p = pnp[c] || {}; const rows = p.draws || [];\n  sig.push('P-' + c + ':' + (p.stale ? 'S' : 'F') + ':' + rows.slice(0, 8).map((r) => [r.date, r.invitations, r.score, r.stream].join('~')).join('|'));\n}\nconst fingerprint = hash(sig.join('||'));\n\n// ---- 3. read current page + stored fingerprint (?context=edit -> content.raw) ----\nconst page = await this.helpers.httpRequest({ method: 'GET', url: WP_BASE + '?context=edit', headers: { Authorization: WP_AUTH }, json: true });\nconst cur = (page.content && page.content.raw) || '';\nconst fpM = cur.match(/draws-fingerprint:([a-z0-9]+)/i);\n\n// ---- 4. unchanged? exit without writing ----\nif (fpM && fpM[1] === fingerprint) {\n  return [{ json: { updated: false, reason: 'no new draws — page left untouched', fingerprint } }];\n}\n\n// ---- 5. Express Entry as one unified table ----\nconst eeRows = rounds.map((r) =>\n  `<tr><td>#${faN(r.drawNumber)}</td><td>${faN(r.drawDateFull)}</td><td class=\"dw-type\">${esc(r.drawName)}</td><td>${faN(r.drawSize)}</td><td class=\"dw-crs\">${faN(r.drawCRS)}</td></tr>`\n).join('\\n');\nconst eeTable = `<div class=\"dw-panel\">\n  <table class=\"dw-table dw-table--ee\">\n    <thead><tr><th>شماره</th><th>تاریخ</th><th>نوع قرعه‌کشی</th><th>تعداد دعوت‌نامه</th><th>حداقل امتیاز CRS</th></tr></thead>\n    <tbody>\n${eeRows}\n    </tbody>\n  </table>\n</div>`;\n\n// ---- 6. one card per province ----\nfunction pnpCard(code) {\n  const [fa, accent] = PROV_META[code];\n  const prov = pnp[code] || {};\n  const draws = prov.draws || [];\n  const url = prov.url || '#';\n  const stale = prov.stale !== false;\n\n  if (!draws.length) {\n    return `<div class=\"dw-cat dw-pnp\" style=\"--accent:${accent}\">\n  <div class=\"dw-cat__head\"><h3 class=\"dw-cat__title\">${fa}</h3><span class=\"dw-latest-badge dw-pending\">در انتظار داده</span></div>\n  <div class=\"dw-pnp-empty\">در حال حاضر داده تأییدشده‌ای موجود نیست. <a href=\"${url}\" target=\"_blank\" rel=\"nofollow noopener\">بررسی در سایت رسمی ↗</a></div>\n</div>`;\n  }\n  const latest = draws[0];\n  const rows = draws.slice(0, 8).map((r) =>\n    `<tr><td>${faN(r.date || '—')}</td><td class=\"dw-type\">${esc(r.stream || '—')}</td><td>${faN(r.invitations || '—')}</td><td class=\"dw-crs\">${faN(r.score || '—')}</td></tr>`\n  ).join('');\n  const badge = stale\n    ? '<span class=\"dw-latest-badge\" style=\"background:#fef3c7;color:#b45309\">نیازمند بررسی</span>'\n    : '<span class=\"dw-latest-badge\" style=\"background:#dcfce7;color:#15803d\">به‌روز</span>';\n  const note = stale\n    ? `<div class=\"dw-stale-note\">⚠️ ممکن است این داده به‌روز نباشد. <a href=\"${url}\" target=\"_blank\" rel=\"nofollow noopener\">تأیید در سایت رسمی ↗</a></div>` : '';\n\n  return `<div class=\"dw-cat dw-pnp\" style=\"--accent:${accent}\">\n  <div class=\"dw-cat__head\"><h3 class=\"dw-cat__title\">${fa}</h3>${badge}</div>\n  <div class=\"dw-highlight\">\n    <div class=\"dw-hl-item\"><span class=\"dw-hl-label\">آخرین قرعه‌کشی</span><span class=\"dw-hl-val\">${faN(latest.date || '—')}</span></div>\n    <div class=\"dw-hl-item\"><span class=\"dw-hl-label\">دعوت‌نامه</span><span class=\"dw-hl-val\">${faN(latest.invitations || '—')}</span></div>\n    <div class=\"dw-hl-item\"><span class=\"dw-hl-label\">حداقل امتیاز</span><span class=\"dw-hl-val dw-hl-crs\">${faN(latest.score || '—')}</span></div>\n  </div>\n  <table class=\"dw-table\">\n    <thead><tr><th>تاریخ</th><th>استریم</th><th>دعوت</th><th>امتیاز</th></tr></thead>\n    <tbody>${rows}</tbody>\n  </table>\n  ${note}\n</div>`;\n}\nconst pnpCards = Object.keys(PROV_META).map(pnpCard).join('\\n');\n\n// Human-facing timestamp = ACTUAL RUN TIME (not newest draw date)\nconst runStamp = new Date().toLocaleString('en-CA', {\n  timeZone: 'America/Vancouver', month: 'long', day: 'numeric', year: 'numeric',\n  hour: 'numeric', minute: '2-digit'\n}) + ' (PT)';\n\nconst CSS = `<style>\n.dw-wrap{font-family:'Vazirmatn',Tahoma,sans-serif;direction:rtl;max-width:1080px;margin:0 auto}\n.dw-wrap *{box-sizing:border-box}\n.dw-hero{background:linear-gradient(135deg,#0f172a,#1e293b);color:#fff;border-radius:24px;padding:40px 24px;text-align:center;margin-bottom:16px}\n.dw-hero h2{font-size:30px;font-weight:800;margin:0 0 12px;color:#fff}\n.dw-hero p{color:#cbd5e1;font-size:16px;line-height:1.9;max-width:640px;margin:0 auto}\n.dw-updated{display:inline-block;margin-top:16px;background:rgba(59,130,246,.2);color:#93c5fd;border:1px solid rgba(59,130,246,.4);padding:6px 16px;border-radius:9999px;font-size:14px;font-weight:600}\n.dw-section-title{font-size:24px;font-weight:800;color:#0f172a;margin:32px 0 16px;padding-right:14px;border-right:5px solid #2563eb}\n.dw-section-title.pnp{border-right-color:#0f766e}\n.dw-panel{background:#fff;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.07);padding:8px;overflow-x:auto}\n.dw-grid{display:grid;grid-template-columns:1fr;gap:20px}\n@media(min-width:768px){.dw-grid{grid-template-columns:1fr 1fr}}\n.dw-cat{background:#fff;border-radius:18px;box-shadow:0 10px 30px rgba(0,0,0,.07);padding:20px;border-top:4px solid var(--accent,#2563eb)}\n.dw-cat__head{display:flex;justify-content:space-between;align-items:center;margin-bottom:14px;gap:8px}\n.dw-cat__title{font-size:18px;font-weight:700;color:#1e293b;margin:0}\n.dw-latest-badge{font-size:12px;font-weight:700;padding:4px 12px;border-radius:9999px;white-space:nowrap}\n.dw-pending{background:#f1f5f9;color:#94a3b8}\n.dw-highlight{display:grid;grid-template-columns:1fr 1fr 1fr;gap:10px;background:#f8fafc;border-radius:14px;padding:14px;margin-bottom:14px}\n.dw-hl-item{display:flex;flex-direction:column;gap:2px}\n.dw-hl-label{font-size:12px;color:#64748b}\n.dw-hl-val{font-size:16px;font-weight:700;color:#0f172a}\n.dw-hl-crs{color:var(--accent,#2563eb);font-size:20px}\n.dw-table{width:100%;border-collapse:collapse;font-size:13px}\n.dw-table th{background:#f1f5f9;color:#475569;font-weight:700;padding:10px 8px;text-align:center;white-space:nowrap}\n.dw-table td{padding:10px 8px;text-align:center;border-bottom:1px solid #f1f5f9;color:#334155}\n.dw-table tr:last-child td{border-bottom:none}\n.dw-table--ee td.dw-type{text-align:right;font-size:12px;color:#475569;max-width:280px}\n.dw-table--ee tbody tr:first-child{background:#eff6ff;font-weight:700}\n.dw-crs{font-weight:800;color:#2563eb}\n.dw-pnp-empty{color:#94a3b8;font-size:14px;text-align:center;padding:24px 8px;background:#f8fafc;border-radius:12px;border:1px dashed #e2e8f0}\n.dw-stale-note{margin-top:10px;font-size:12px;color:#92400e;background:#fffbeb;border:1px solid #fde68a;border-radius:8px;padding:6px 10px;line-height:1.7}\n.dw-stale-note a{color:#b45309;font-weight:700}\n.dw-note{background:#fffbeb;border:1px solid #fde68a;border-radius:12px;padding:14px 18px;color:#92400e;font-size:14px;line-height:1.9;margin-top:24px}\n</style>`;\n\nconst html = `<!-- wp:html -->\n<!-- draws-fingerprint:${fingerprint} -->\n${CSS}\n<div class=\"dw-wrap\">\n<div class=\"dw-hero\">\n<h2>آخرین قرعه‌کشی‌های مهاجرت به کانادا</h2>\n<p>جدیدترین نتایج قرعه‌کشی‌های اکسپرس انتری (Express Entry) و برنامه‌های نامزدی استانی (PNP) کانادا.</p>\n<span class=\"dw-updated\">آخرین به‌روزرسانی: ${runStamp}</span>\n</div>\n\n<h2 class=\"dw-section-title\">🍁 اکسپرس انتری (Express Entry)</h2>\n${eeTable}\n\n<h2 class=\"dw-section-title pnp\">🏛️ برنامه‌های نامزدی استانی (PNP)</h2>\n<div class=\"dw-grid\">\n${pnpCards}\n</div>\n\n<div class=\"dw-note\">📌 داده‌های اکسپرس انتری از منبع رسمی IRCC و داده‌های استانی از سایت‌های رسمی هر استان به‌صورت خودکار دریافت می‌شوند. برای تصمیم‌گیری نهایی، همیشه منبع رسمی را بررسی کنید.</div>\n</div>\n<!-- /wp:html -->`;\n\n// ---- 7. single write ----\nconst result = await this.helpers.httpRequest({\n  method: 'POST', url: WP_BASE,\n  headers: { Authorization: WP_AUTH, 'Content-Type': 'application/json' },\n  body: { content: html }, json: true\n});\n\nreturn [{ json: {\n  updated: true, reason: 'new draw data', pageId: result.id, runStamp, fingerprint,\n  eeRows: rounds.length,\n  latestEE: rounds[0] ? rounds[0].drawDateFull : null,\n  bcLatest: (pnp.BC && pnp.BC.draws && pnp.BC.draws[0]) ? pnp.BC.draws[0].date : null,\n  bcStale: pnp.BC ? pnp.BC.stale : null\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        900
      ],
      "id": "code-wp",
      "name": "Update WordPress Page"
    },
    {
      "parameters": {
        "jsCode": "// Code node: \"Prepare Image\" — runs once per item.\n// Skips program updates (no story image); otherwise base64-encodes the SVG for\n// the HCTI render step. References Build Story Card via paired item.\nconst j = $('Build Story Card').item.json;\nif (j.skipInstagram || !j.svg) return [];\nconst svgBase64 = Buffer.from(j.svg).toString('base64');\nreturn [{\n  json: Object.assign({}, j, {\n    svgBase64: svgBase64,\n    dataUri: 'data:image/svg+xml;base64,' + svgBase64\n  })\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        560
      ],
      "id": "code-prepimg",
      "name": "Prepare Image",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hcti.io/v1/image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": \"<div id='wrap'>{{ $json.svg.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, '') }}</div>\",\n  \"css\": \"body,html{margin:0;padding:0}#wrap{width:1080px;height:1920px}svg{width:100%;height:100%;display:block}\",\n  \"viewport_width\": 1080,\n  \"viewport_height\": 1920,\n  \"device_scale\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        380,
        560
      ],
      "id": "http-render",
      "name": "Render SVG to PNG",
      "credentials": {
        "httpBasicAuth": {
          "id": "QzkGK4407SS7p6Q2",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/26846240431664402/media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $json.url }}\",\n  \"media_type\": \"STORIES\",\n  \"access_token\": \"IGAAMJ0hz98q5BZAFl4MnR1ellSREdRVkExV3JZAUkJNTjhrRFZAJRFZAmLVpIUXJFZAnc0WGNVcWZA6c3YyZA0M1eEdzWFNiUWw0a05FandFUXdIdFBDYWM3UEtYT3NLSjQ2cGtCbnJDWS16cmFocG9uWjJLUEZAkRUFFNTJmV0dxRXNvMAZDZD\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        620,
        560
      ],
      "id": "http-igcontainer",
      "name": "Create IG Story Container"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        820,
        560
      ],
      "id": "wait-ig",
      "name": "Wait",
      "webhookId": "unified-ig-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v21.0/26846240431664402/media_publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $('Create IG Story Container').item.json.id }}\",\n  \"access_token\": \"IGAAMJ0hz98q5BZAFl4MnR1ellSREdRVkExV3JZAUkJNTjhrRFZAJRFZAmLVpIUXJFZAnc0WGNVcWZA6c3YyZA0M1eEdzWFNiUWw0a05FandFUXdIdFBDYWM3UEtYT3NLSjQ2cGtCbnJDWS16cmFocG9uWjJLUEZAkRUFFNTJmV0dxRXNvMAZDZD\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1020,
        560
      ],
      "id": "http-igpublish",
      "name": "Publish IG Story"
    },
    {
      "parameters": {
        "content": "## Unified Draw System\n\n**Social branch** (every 15 min): fetches EE + OINP + BC PNP + Alberta AAIP, dedups via `posted_draws`, auto-posts to Telegram, X, LinkedIn, Instagram. Alberta is scraped directly from alberta.ca (no Apps Script needed).\n\n**WordPress branch** (hourly, bottom): fetches the unified endpoint (EE + 9 provinces), fingerprint-gated — only rewrites the page when draw data changed.\n\n**Before enabling:** (1) paste logo into `LOGO_B64` in **Build Story Card**; (2) fill the 3 constants in **Update WordPress Page**; (3) deactivate the old EE / BC PNP-OINP / WordPress flows to avoid duplicates.",
        "height": 320,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1600,
        -40
      ],
      "id": "sticky-doc",
      "name": "About"
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [
        [
          {
            "node": "Fetch Express Entry",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch BC PNP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch OINP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Alberta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Express Entry": {
      "main": [
        [
          {
            "node": "Build EE Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch BC PNP": {
      "main": [
        [
          {
            "node": "Build BC PNP Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch OINP": {
      "main": [
        [
          {
            "node": "Build OINP Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Alberta": {
      "main": [
        [
          {
            "node": "Build Alberta Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build EE Items": {
      "main": [
        [
          {
            "node": "Merge All Programs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build BC PNP Items": {
      "main": [
        [
          {
            "node": "Merge All Programs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build OINP Items": {
      "main": [
        [
          {
            "node": "Merge All Programs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Build Alberta Items": {
      "main": [
        [
          {
            "node": "Merge All Programs",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Programs": {
      "main": [
        [
          {
            "node": "Build Story Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Story Card": {
      "main": [
        [
          {
            "node": "Check if posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if posted": {
      "main": [
        [
          {
            "node": "Is New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New?": {
      "main": [
        [
          {
            "node": "Post to Telegram Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Telegram Channel": {
      "main": [
        [
          {
            "node": "Mark as posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image": {
      "main": [
        [
          {
            "node": "Render SVG to PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render SVG to PNG": {
      "main": [
        [
          {
            "node": "Create IG Story Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG Story Container": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Publish IG Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hourly (WordPress)": {
      "main": [
        [
          {
            "node": "Update WordPress Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "instanceId": "31ed0674f1ed845475d221b96825475281c82d13bb39ee736e0f814d52e165b9"
  }
}